:root {
    --color-white: #FFFFFF;
    --color-biegeCD: #CDA274;
    --color-biegeD7: #D7A875;
    --color-dark-grey-29: #292F36;
    --color-dark-grey-4D4: #4D4F52;
    --color-dark-grey-4D5: #4D5053;
    --color-dark-grey-36: #363B41;
    --color-black-14: #141414;
    --color-black-00: #000000;
    --color-light-grey-D9: #D9D9D9;
    --color-light-grey-C4: #C4C4C4;
    --color-light-grey-F9: #F9F9F9;
    --color-light-grey-E7: #E7E7E7;
    --color-light-grey-EA: #EAEAEA;
    --color-light-grey-F4: #F4F0EC;
    --color-light-grey-CE: #CECECE;
    --color-teracot: #C76904;
}