@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text&family=Inter:wght@500;600&family=Jost:wght@300;400;500;600;700&display=swap');



$serif-display-fonts: 'DM Serif Display', serif;
$serif-text-fonts: 'DM Serif Text', serif;
$inter-fonts: 'Inter', sans-serif;
$jost-fonts: 'Jost', sans-serif;


:root {
    --inter-fonts: 'Inter', sans-serif;
    --serif-display-fonts: 'DM Serif Display', serif;
    --serif-text-fonts: 'DM Serif Text', serif;
    --jost-fonts: 'Jost', sans-serif;


    //Text Fonts

    --home-text-font: 400 22rem/normal var(--jost-fonts);
    --home-title-font: 400 25rem/normal var(--serif-display-fonts);


    //Heading Fonts
    --heading-title-font: 400 65rem/normal var(--serif-display-fonts);
    --heading-text-font: 400 22rem/normal var(--jost-fonts);

    //subtract Fonts
    --subtract-title-font: 400 55rem/normal var(--serif-display-fonts);
    --subtract-phone-font: 700 24rem/normal var(--jost-fonts);

    //testimonial fonts
    --testimonial-title-font: 400 50rem/normal var(--serif-display-fonts);
    --testimonial-place-font: 400 18rem/normal var(--serif-display-fonts);

    //follow fonts
    --follow-title-font: 400 50rem/normal var(--serif-display-fonts);
    --follow-text-font: 400 22rem/normal var(--jost-fonts);

    //Counter Fonts
    --counter-number-font: 400 85rem/normal var(--serif-display-fonts);

    //Blog Font
    --blog-text-font: 400 16rem/normal var(--jost-fonts);

    //About Font
    --about-text-font: 400 35rem/normal var(--serif-display-fonts);
    --about-author-font: 400 25rem/normal var(--jost-fonts);
    --about-place-font: 400 18rem/normal var(--jost-fonts);

    //Services Font
    --services-more-font: 600 18rem/normal var(--jost-fonts);
    --services-number-font: 400 120rem/normal var(--serif-display-fonts);

    //Service Font
    --service-number-font: 400 20rem/normal var(--jost-fonts);



    //Button Fonts
    --button-font: 600 18rem/normal var(--inter-fonts);



}