.banner__blog-single {
    background-image: url(../../img/blog-single/blog-single-banner.jpg);
}

.blog-single__container {
    display: flex;
    justify-content: space-between;
    gap: 57rem;
}

.construction,
.sidebar {
    padding: 15px;
}

.construction {
    max-width: 800rem;
}


//Seidebar

.sidebar {
    max-width: 345rem;

    &__search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 33rem;
        background-color: var(--color-light-grey-F4);
        border-radius: 20px;
        margin-bottom: 50rem;


        &-input {
            font: var(--home-text-font);

            &::placeholder {
                color: var(--color-biegeCD);
                font: var(--home-text-font);
            }

        }
    }

    &__news {
        display: flex;
        flex-direction: column;
        gap: 34rem;
        margin-bottom: 50rem;

        &-title {
            color: var(--color-dark-grey-29);
            font: var(--home-title-font);
        }

        &-item {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            padding-bottom: 34rem;
            border-bottom: 2rem solid var(--color-biegeCD);

        }

        &-text {
            color: var(--color-dark-grey-29);
            font: var(--blog-sidebar-font);
            line-height: 125%;
            letter-spacing: 0.4px;
            cursor: pointer;
        }

        &-date {
            color: var(--color-dark-grey-4D5);
            font: var(--blog-text-font);
        }
    }

    &__categories {
        padding: 27rem 32rem;
        background-color: var(--color-light-grey-F4);
        border-radius: 20px;
        margin-bottom: 50rem;

        &-title {
            color: var(--color-dark-grey-29);
            font: var(--home-title-font);
            margin-bottom: 30rem;
        }

        &-text {
            color: var(--color-dark-grey-29);
            font: var(--blog-sidebar-font);
            line-height: 125%;
            letter-spacing: 0.4px;
            border-bottom: 1rem solid var(--color-biegeCD);
            padding: 20rem 0 20rem 0;
            cursor: pointer;

            &:last-child {
                border-bottom: 0;
            }
        }

    }

    &__tags {
        &-title {
            color: var(--color-dark-grey-29);
            font: var(--home-title-font);
            margin-bottom: 30rem;
        }

        &-items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10rem;
        }

        &-text {
            color: var(--color-dark-grey-29);
            font: var(--about-place-font);
            background-color: var(--color-light-grey-F4);
            padding: 9rem 30rem;
            border-radius: 10px;
            line-height: 125%;
            letter-spacing: 0.36px;
            cursor: pointer;

            &:hover {
                color: var(--color-white);
                background-color: var(--color-dark-grey-29);
            }
        }
    }
}



// Content in container  

.construction {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        &-item {
            color: var(--color-dark-grey-29);
            font: var(--follow-title-font);
            margin-bottom: 10rem;
        }
    }

    &__img {
        max-width: 800rem;
        margin-bottom: 46rem;
    }

    &__date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--color-dark-grey-4D5);
        font: var(--blog-text-font);
        margin-bottom: 48rem;
    }

    &__text {
        color: var(--color-dark-grey-4D5);
        font: var(--follow-text-font);
        margin-bottom: 35rem;
        line-height: 150%;
        letter-spacing: 0.22px;

        :first-child {
            margin-bottom: 40rem;
        }
    }

    &__quotes {
        padding: 53rem 200rem;
        background-color: var(--color-light-grey-F4);
        text-align: center;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 27rem;


        &-item {
            font: var(--blog-quotes-font);
            font-style: italic;
            color: var(--color-biegeCD);
            line-height: 125%;
            letter-spacing: 4px;
            rotate: 180deg;
            width: 101px;
            height: 104px;
        }

        &-text {
            color: var(--color-biegeCD);
            font: var(--blog-quotes-text-font);
            font-style: italic;
            line-height: 125%;
            letter-spacing: 0.5px;
        }
    }
}