.heading {
    &__container {
        margin-top: 57rem;
        margin-bottom: 200rem;
        max-width: 1201rem;
        min-height: 758rem;
        display: flex;
        flex-direction: column;
        background-image: url(../../img/home/heading-img.jpg);
        border-radius: 55rem;
    }

    &__title {
        margin-top: 208rem;
        margin-left: 52rem;
        max-width: 434rem;
        // height: 200rem;
        color: var(--color-dark-grey-29);
        font: var(--heading-title-font);
    }

    &__text {
        margin: 18rem 0 28rem 52rem;
        max-width: 433rem;
        color: var(--color-dark-grey-4D5);
        font: var(--heading-text-font);
    }

    &__button {
        margin-left: 52rem;
    }
}

.work {
    &__container {
        display: flex;
        flex-direction: row;
        max-width: 1158rem;
        justify-content: space-between;
        margin-bottom: 200rem;
    }

    &__subcontent {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 358rem;

        &-title {
            margin-bottom: 20rem;
            font: var(--home-title-font);
            color: var(--color-dark-grey-29);
        }

        &-text {
            margin-bottom: 52rem;
            font: var(--home-text-font);
            color: var(--color-dark-grey-4D5);
        }

        &-more {
            font: var(--button-font);
            color: var(--color-dark-grey-4D5);
        }
    }
}

.subtract {
    &__container {
        display: flex;
        flex-direction: row;
        margin-bottom: 194rem;
        gap: 75rem;
    }

    // &__container-info {
    //     // max-width: 1210rem;
    //     // height: 700rem;

    // }

    &__title {
        padding: 43rem 0 33rem 0;
        max-width: 420rem;
        color: var(--color-dark-grey-29);
        font: var(--subtract-title-font);
        letter-spacing: 0.22px;
        line-height: 125%;
    }

    &__text {

        margin-bottom: 20rem;
        max-width: 472rem;
        color: var(--color-dark-grey-4D5);
        margin-bottom: 28rem;
        font: var(--heading-text-font);
        letter-spacing: 0.22px;
        line-height: 150%;
    }

    &__call {
        display: flex;
        flex-direction: row;
        color: var(--color-dark-grey-4D5);
        margin-bottom: 47rem;

        &-icon {
            width: 93rem;
            margin-right: 15rem;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-phone {
            font: var(--subtract-phone-font);
        }
    }

    &__container-img {
        max-width: 653rem;
    }
}

.testimonial {
    &__container {
        max-width: 1199rem;
        height: 679rem;
        background-color: var(--color-light-grey-F4);
        border-radius: 65rem;
        margin-bottom: 188rem;
    }

    &__title {
        padding: 88rem 332rem 38rem 332rem;
        color: var(--color-dark-grey-29);
        font: var(--testimonial-title-font);
        text-align: center;
    }

    &__frame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 30rem;
    }

    &__person {
        padding: 53rem 37rem;
        max-width: 370rem;
        background-color: var(--color-white);
        border-radius: 25rem;


        &-img {
            width: 77rem;
        }

        &-name {
            font: var(--home-title-font);
            color: var(--color-dark-grey-29);
        }

        &-place {
            font: var(--testimonial-place-font);
            color: var(--color-dark-grey-4D5);
        }
    }

    &__text {
        color: var(--color-dark-grey-4D5);
    }

    &__box {
        display: flex;
        flex-direction: row;
        gap: 23rem;
        margin-bottom: 25rem;
    }
}

.companies {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 202rem;
    }

    &__img {

        &-first {
            max-width: 131rem;
        }

        &-second {
            max-width: 102rem;
        }

        &-third {
            max-width: 163rem;
        }

        &-fourth {
            max-width: 144rem;
        }

        &-fifth {
            max-width: 116rem;
        }
    }
}

.follow,
.articles {
    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 93rem;
        max-width: 736rem;
        text-align: center;
        gap: 14rem;
    }

    &__title {
        color: var(--color-dark-grey-29);
        font: var(--follow-title-font);
    }

    &__text {
        font: var(--follow-text-font);
        color: var(--color-dark-grey-4D5);
        text-align: center;
        line-height: 150%;
        letter-spacing: 0.28px;
    }
}

.project {
    &__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 200rem;
        // gap: 104rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        max-width: 522rem;

        &:first-child {
            margin-right: 104rem;
            margin-bottom: 56rem;
        }

        &:nth-child(3) {
            margin-right: 104rem;
        }

        &-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 24rem;

            &--img {
                width: 70rem;
            }
        }

        &-title {
            font: var(--home-title-font);
            color: var(--color-dark-grey-29);
        }

        &-category {
            font: var(--heading-text-font);
            color: var(--color-dark-grey-4D5);
        }
    }
}

.counter {
    background-color: var(--color-light-grey-F4);
    padding: 151rem 419rem;
    margin-bottom: 200rem;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 16rem;

        &-line {
            width: 1rem;
            height: 130rem;
            background-color: var(--color-biegeCD);
            margin-top: 18rem;
        }

        &-number {
            font: var(--counter-number-font);
            color: var(--color-biegeCD);
        }

        &-text {
            font: var(--heading-text-font);
            color: var(--color-dark-grey-4D5);
        }
    }
}