.heading {

    &__container {
        margin-top: 57rem;
        margin-bottom: 200rem;
        max-width: 1201rem;
        min-height: 758rem;
        display: flex;
        flex-direction: column;
        background-image: url(../../img/home/heading-img.jpg);
        border-radius: 55rem;

        @media (max-width: $tablet) {
            align-items: center;
            text-align: center;
        }
    }

    &__title {
        margin-top: 208rem;
        margin-left: 52rem;
        max-width: 434rem;
        // height: 200rem;
        color: var(--color-dark-grey-29);
        font: var(--heading-title-font);

        @media (max-width: $tablet) {
            margin-left: 0;
        }
    }

    &__text {
        margin: 18rem 0 28rem 52rem;
        max-width: 433rem;
        color: var(--color-dark-grey-4D5);
        font: var(--heading-text-font);

        @media (max-width: $tablet) {
            margin-left: 0;
        }
    }

    &__button {
        margin-left: 52rem;

        @media (max-width: $tablet) {
            margin-left: 0;
        }
    }
}

.work {
    &__container {
        display: flex;
        flex-direction: row;
        max-width: 1158rem;
        justify-content: space-between;
        margin-bottom: 200rem;

        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
            gap: 40rem;
        }
    }


    &__subcontent {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 358rem;

        &-title {
            margin-bottom: 20rem;
            font: var(--home-title-font);
            color: var(--color-dark-grey-29);
        }

        &-text {
            margin-bottom: 52rem;
            font: var(--home-text-font);
            color: var(--color-dark-grey-4D5);
        }

        &-more {
            font: var(--button-font);
            color: var(--color-dark-grey-4D5);
        }
    }
}

.subtract {
    &__container {
        display: flex;
        flex-direction: row;
        margin-bottom: 194rem;
        gap: 75rem;

        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
            gap: 40rem;
            position: relative;
        }
    }

    &__container-info {

        // max-width: 1210rem;
        // height: 700rem;
        @media (max-width: $tablet) {
            margin-top: 700rem;
        }
    }

    &__title {
        padding: 43rem 0 33rem 0;
        max-width: 420rem;
        color: var(--color-dark-grey-29);
        font: var(--subtract-title-font);
        letter-spacing: 0.22px;
        line-height: 125%;
    }

    &__text {

        margin-bottom: 20rem;
        max-width: 472rem;
        color: var(--color-dark-grey-4D5);
        margin-bottom: 28rem;
        font: var(--heading-text-font);
        letter-spacing: 0.22px;
        line-height: 150%;
    }

    &__call {
        display: flex;
        flex-direction: row;
        color: var(--color-dark-grey-4D5);
        margin-bottom: 47rem;

        &-icon {
            width: 93rem;
            margin-right: 15rem;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-phone {
            font: var(--subtract-phone-font);
        }
    }

    &__container-img {
        max-width: 653rem;

        @media (max-width: $tablet) {
            width: 100%;
            position: absolute;

        }
    }
}

.testimonial {
    &__container {
        // max-width: 1199rem;
        // height: 679rem;
        padding: 88rem 25rem;
        background-color: var(--color-light-grey-F4);
        border-radius: 65rem;
        margin-bottom: 188rem;

        @media (max-width: $tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    &__title {
        padding: 0 332rem 38rem 332rem;
        color: var(--color-dark-grey-29);
        font: var(--testimonial-title-font);
        text-align: center;

        @media (max-width: $tablet) {
            padding: 0 0 40rem 0;
        }
    }

    &__frame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin: 0 30rem;
        gap: 30rem;

        @media (max-width: $tablet) {
            flex-direction: column;

        }
    }

    &__person {
        padding: 53rem 37rem;
        max-width: 370rem;
        background-color: var(--color-white);
        border-radius: 25rem;


        &-img {
            width: 77rem;
        }

        &-name {
            font: var(--home-title-font);
            color: var(--color-dark-grey-29);
        }

        &-place {
            font: var(--testimonial-place-font);
            color: var(--color-dark-grey-4D5);
        }
    }

    &__text {
        color: var(--color-dark-grey-4D5);
    }

    &__box {
        display: flex;
        flex-direction: row;
        gap: 23rem;
        margin-bottom: 25rem;
    }
}

.companies {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 202rem;

        @media (max-width: $tablet) {
            flex-wrap: wrap;
            margin-bottom: 50rem;
        }

    }

    &__img {

        &-first {
            max-width: 131rem;

            @media (max-width: $tablet) {
                max-width: 61rem;
            }
        }

        &-second {
            max-width: 102rem;

            @media (max-width: $tablet) {
                max-width: 32rem;
            }
        }

        &-third {
            max-width: 163rem;

            @media (max-width: $tablet) {
                max-width: 93rem;
            }
        }

        &-fourth {
            max-width: 144rem;

            @media (max-width: $tablet) {
                max-width: 74rem;
            }
        }

        &-fifth {
            max-width: 96rem;

            @media (max-width: $tablet) {
                max-width: 66rem;
            }
        }
    }
}

.follow,
.articles {
    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 93rem;
        max-width: 736rem;
        text-align: center;
        gap: 14rem;
    }

    &__title {
        color: var(--color-dark-grey-29);
        font: var(--follow-title-font);
    }

    &__text {
        font: var(--follow-text-font);
        color: var(--color-dark-grey-4D5);
        text-align: center;
        line-height: 150%;
        letter-spacing: 0.28px;
    }
}

.project {
    &__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 200rem;

        @media (max-width: $tablet) {
            width: 95%;
            margin-bottom: 50rem;
            justify-content: center;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        max-width: 522rem;



        &:first-child {
            margin-right: 104rem;
            margin-bottom: 56rem;

            @media (max-width: $tablet) {
                margin-right: 0;
                margin-bottom: 20rem;
            }
        }

        &:nth-child(3) {
            margin-right: 104rem;

            @media (max-width: $tablet) {
                margin-right: 0;
                margin-bottom: 20rem;
                margin-top: 20rem;
            }
        }

        &-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 24rem;

            &--img {
                width: 70rem;
            }
        }

        &-title {
            font: var(--home-title-font);
            color: var(--color-dark-grey-29);
        }

        &-category {
            font: var(--heading-text-font);
            color: var(--color-dark-grey-4D5);
        }
    }
}

.counter {
    background-color: var(--color-light-grey-F4);
    padding: 151rem 419rem;
    margin-bottom: 200rem;

    @media (max-width: $tablet) {
        padding: 50rem 0;
        margin-bottom: 50rem;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 44rem;

        @media (max-width: $tablet) {
            flex-direction: column;

        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 16rem;

        &-line {
            width: 1rem;
            height: 130rem;
            background-color: var(--color-biegeCD);
            margin-top: 18rem;

            @media (max-width: $tablet) {
                display: none;

            }
        }

        &-number {
            font: var(--counter-number-font);
            color: var(--color-biegeCD);
        }

        &-text {
            font: var(--heading-text-font);
            color: var(--color-dark-grey-4D5);
        }
    }
}

.blog {
    &__container {
        display: flex;
        flex-direction: row;
        gap: 27rem;
        flex-wrap: wrap;
        margin-bottom: 200rem;

        @media (max-width: $tablet) {
            justify-content: center;
            margin-bottom: 50rem;
        }
    }

    &__item {
        padding: 20rem;
        background-color: var(--color-white);
        border: 1px solid var(--color-light-grey-E7);
        border-radius: 55rem;

        &-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 30rem;
            margin-bottom: 16rem;
        }

        &-img {
            position: relative;
        }

        &-room {
            position: absolute;
            bottom: 20rem;
            left: 20rem;
            z-index: 2;
            background-color: var(--color-white);
            padding: 4rem 5rem 8rem 11rem;
            border-radius: 8px 8px 8px 0px;
        }

        &-title {
            margin-top: 20rem;
            font: var(--home-title-font);
            color: var(--color-dark-grey-29);
            max-width: 276rem;
        }

        &-date {
            font: var(--blog-text-font);
            color: var(--color-dark-grey-4D5);
        }

        &-more--img {
            width: 70rem;
        }
    }
}

.contact {
    &__container {
        display: flex;
        flex-direction: column;
        background-color: var(--color-dark-grey-29);
        padding: 80rem 315rem;
        max-width: 1199rem;
        color: var(--color-white);
        align-items: center;
        border-radius: 70rem;
        margin-bottom: 200rem;
        text-align: center;

        @media (max-width: $tablet) {
            padding: 50rem 0;
            margin-bottom: 0;
        }
    }

    &__title {
        font: var(--follow-title-font);
        margin-bottom: 11rem;

        @media (max-width: $tablet) {
            font: var(--blog-quotes-text-font);
        }
    }

    &__text {
        margin-bottom: 32rem;
        font: var(--heading-text-font);
    }
}