.banner__minimal-bedroom {
    background-image: url(../../img/bedroom/minimal-bedroom-banner.jpg);
}

.info {
    &__container {
        display: flex;
        flex-direction: row;
        gap: 42rem;
        margin-bottom: 100rem;
        align-items: center;

        @media (max-width: $tablet) {
            flex-direction: column;
            margin-bottom: 50rem;
        }
    }

    &__details {
        display: flex;
        flex-direction: row;
        gap: 50rem;
        padding: 55rem 84rem;
        background-color: var(--color-light-grey-F4);
        border-radius: 70rem;
        margin-top: 29rem;
        margin-bottom: 29rem;

        @media (max-width: $tablet) {
            padding: 30rem 100rem;
            margin-bottom: 20rem;
            gap: 200rem;
        }

        @media (max-width: $tablet768) {
            padding: 30rem 100rem;
            margin-bottom: 20rem;
            gap: 100rem;
        }

        @media (max-width: $mobile600) {
            padding: 30rem 20rem;
            margin-bottom: 20rem;
            gap: 20rem;
        }

    }

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 15rem;
        color: var(--color-dark-grey-29);
        font: var(--bedroom-titles-font);
    }

    &__categories {
        display: flex;
        flex-direction: column;
        gap: 15rem;
        min-width: 184rem;
    }

    &__content {
        &-title {
            color: var(--color-dark-grey-29);
            font: var(--testimonial-title-font);
            margin-bottom: 11rem;
        }

        &-text {
            color: var(--color-dark-grey-4D5);
            font: var(--home-text-font);
            margin-bottom: 20rem;
        }
    }
}

.bedroom-image__container {
    max-width: 1200rem;
    margin-bottom: 200rem;

    @media (max-width: $tablet) {
        width: 90%;
        margin-bottom: 50rem;
    }

}