.banner__pricing {
    background-image: url(../../img/pricing/banner-pricing.jpg);
}

.pricing {
    &__container {
        display: flex;
        flex-direction: row;
        gap: 48rem;
        justify-content: center;
        margin-bottom: 150rem;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 28rem;
        text-align: center;
        align-items: center;
        padding: 64rem 44rem;
        background-color: var(--color-light-grey-F4);
        border-radius: 33px;
        position: relative;

        &--most {
            box-shadow: 0px 10px 20px 0px rgba(136, 136, 136, 0.25);
        }
    }

    &__price {
        display: flex;
        flex-direction: row;
        height: 95rem;
    }

    &__line {
        width: 132%;
        border-bottom: 1rem solid var(--color-biegeCD);



        &--most {
            border-bottom: 1rem solid var(--color-dark-grey-29);
        }
    }

    &__most {
        position: absolute;
        top: 295rem;
        background-color: var(--color-dark-grey-29);
        color: var(--color-white);
        padding: 5rem 38rem;
        font: var(--services-more-font);
        border-radius: 33rem;
    }

    &__title,
    &__month {
        color: var(--color-dark-grey-29);
        font: var(--blog-quotes-text-font);
    }

    &__price-currency {
        display: flex;
        align-items: flex-end;

        color: var(--color-dark-grey-29);
        font: var(--blog-quotes-text-font);
    }

    &__price-number {
        line-height: 150%;
        letter-spacing: 0.85px;
        color: var(--color-dark-grey-29);
        font: var(--pricing-number-font);

        &--most {
            color: var(--color-biegeCD);
        }
    }

    &__info {
        color: var(--color-dark-grey-4D5);
        font: var(--service-number-font);
    }
}