.banner__services {
    background-image: url(../../img/services/banner-services.jpg);
}

.services {

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 112rem;

        @media (max-width: $tablet) {
            flex-direction: column;
            margin-bottom: 50rem;
        }
    }

    &__item {
        width: 33%;

        @media (max-width: $tablet) {
            width: 90%;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding: 83rem 21rem;
        text-align: center;
        margin-bottom: 88rem;

        @media (max-width: $tablet) {
            padding: 20rem;
            margin-bottom: 40rem;
        }

        &:hover {
            background-color: var(--color-light-grey-F4);
            border-radius: 50rem;
        }
    }

    &__title {
        font: var(--home-title-font);
        color: var(--color-dark-grey-29);
        margin-bottom: 20rem;
    }

    &__text {
        font: var(--follow-text-font);
        color: var(--color-dark-grey-4D5);
        margin-bottom: 52rem;
    }

    &__more {
        font: var(--services-more-font);
        color: var(--color-dark-grey-4D5);

        &::after {
            content: " →";
            font: var(--follow-text-font);
            color: var(--color-biegeCD);
        }
    }
}

.details {
    &__container {
        display: flex;
        flex-direction: column;
        background-color: var(--color-light-grey-F4);
        border-radius: 70rem;
        margin-bottom: 200rem;

        @media (max-width: $tablet) {
            margin-bottom: 50rem;
        }
    }

    &__heading {
        text-align: center;
        padding: 160rem 198rem 100rem 198rem;

        @media (max-width: $tablet) {
            padding: 50rem 20rem;
        }

        &-title {
            font: var(--testimonial-title-font);
            color: var(--color-dark-grey-29);

            @media (max-width: $tablet) {
                font: var(--blog-quotes-text-font);
            }
        }

        &-text {
            font: var(--heading-text-font);
            color: var(--color-dark-grey-4D5);
        }
    }

    &__work {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 51rem;
        padding: 0 116rem 70rem 116rem;

        @media (max-width: $tablet) {
            flex-direction: column;
            padding: 10rem;
        }

        &:last-child {
            padding-bottom: 160rem;

            @media (max-width: $tablet) {
                padding-bottom: 50rem;
            }
        }

        &-img {
            width: 50%;

            @media (max-width: $tablet) {
                // width: 100%;
                display: none;
            }
        }
    }

    &__content {
        width: 50%;

        @media (max-width: $tablet) {
            width: 100%;
        }

        &-title {
            font: var(--about-text-font);
            color: var(--color-dark-grey-29);

            @media (max-width: $tablet) {
                font: var(--blog-quotes-text-font);
            }
        }

        &-text {
            font: var(--follow-text-font);
            color: var(--color-dark-grey-4D5);
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__number {
        font: var(--services-number-font);
        color: var(--color-white);
    }

    &__icon {
        width: 92rem;
        height: 92rem;
    }
}