.banner__team {
    background-image: url(../../img/team/team-banner.jpg);
}

.employee {
    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 22rem;
        width: 100%;
        justify-content: center;
        margin-bottom: 200rem;

        @media (max-width: $tablet) {
            margin-bottom: 50rem;
        }

    }

    &__member {
        display: flex;
        flex-direction: column;
        width: 20%;

        @media (max-width: $tablet) {
            width: 30%;
            margin-bottom: 20rem;
        }

        @media (max-width: $mobile600) {
            width: 40%;
            margin-bottom: 20rem;
        }

        @media (max-width: 550px) {
            width: 90%;
            margin-bottom: 20rem;
        }

        &:nth-child(1) {
            margin-bottom: 50rem;

            @media (max-width: $tablet) {
                margin-bottom: 0;
            }
        }

    }

    &__member-img {
        margin-bottom: 17rem;
    }

    &__member-name {
        font: var(--home-title-font);
        color: var(--color-dark-grey-29);
        line-height: 150%;
        letter-spacing: 0.25px;
    }

    &__member-country {
        font: var(--about-place-font);
        color: var(--color-dark-grey-4D5);
        line-height: 150%;
        letter-spacing: 0.18px;
    }

    &__member-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16rem;
    }

    &__member-contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 37rem;

    }
}