.banner {

    height: 356rem;
    margin-bottom: 200rem;
    position: relative;



    @media (max-width: $tablet) {
        height: 156rem;
        margin-bottom: 50rem;
    }

    &__container {
        padding: 41rem 152rem;
        background-color: var(--color-white);
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        border-radius: 37px 37px 0px 0px;
        text-align: center;

        @media (max-width: $tablet) {
            padding: 20rem;
        }
    }

    &__title {
        font: var(--testimonial-title-font);
        color: var(--color-dark-grey-29);

        @media (max-width: $tablet) {
            font: var(--blog-quotes-text-font);
        }
    }

    &__text {
        font: var(--heading-text-font);
        color: var(--color-dark-grey-4D5);

        @media (max-width: $tablet) {
            font: var(--blog-text-font);
        }
    }
}