.button-gray {
    display: flex;
    border: none;
    border-radius: 18rem;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 26rem 49rem;
    font: var(--button-font);
    color: var(--color-white);
    background-color: var(--color-dark-grey-29);
    transition: background-color 0.5s;
    gap: 10rem;

    &:hover {
        animation: button-zoom 2s ease infinite;
    }


    &::after {
        content: "→";
        color: var(--color-biegeCD);
    }
}

.button-biege {
    display: flex;
    border: none;
    border-radius: 18rem;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 26rem 37rem;
    font: var(--button-font);
    color: var(--color-white);
    background-color: var(--color-biegeCD);
    transition: background-color 0.5s;
    gap: 10rem;

    &:hover {
        animation: linkZoom 2s ease infinite;
    }

    &::after {
        content: "→";
        color: var(--color-dark-grey-29);
    }
}

@keyframes button-zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}